<!-- SANITY CHECK BANNER
    This is just for checking, that your setup works.
    TODO: You can – and should – remove this later
    -->
<div class="container mt-3 mb-3" *ngIf="bannerError">
  <div class="alert alert-danger" role="alert">
    <h4>Error!</h4> {{ bannerError }}
    <p>Could not load tournaments.</p>
    <p>Something is not quite right. Did you start the backend?</p>
  </div>
</div>

<!-- END SANITY CHECK BANNER -->

<div class="d-flex flex-row w-auto">
  <button class="btn btn-primary mr-1" (click)="reloadTournaments()" aria-label="Reload horses">
    <i class="bi bi-arrow-clockwise"></i>
    Reload
  </button>
  <span style="flex: 1"></span>
  <a class="btn btn-secondary" routerLink="create" aria-label="New Tournament">
    <i class="bi bi-plus-lg"></i>
    New Tournament
  </a>
</div>

<form class="d-flex flex-row w-auto mb-3" (submit)="reloadTournaments()">
  <!-- this button is here, just so that simple submitting of this form
       to reload the horses, is possible -->
  <button type="submit" hidden="hidden">submit</button>
  <div class="flex-grow-1">
    <label for="searchTournamentName" class="col-form-label">
      Name
    </label>
    <input type="text" id="searchTournamentName" name="searchTournamentName"
           class="form-control"
           [(ngModel)]="searchParams.name"
           (ngModelChange)="searchChanged()"
    >
  </div>
    <div class="ms-1">
    <label for="searchPeriodStart" class="col-form-label">
      Search Period Start
    </label>
    <!-- pattern and placeholder are fallbacks for browser, that use a simple text input for type="date"
         The date format of the plain HTML date input, in browser that support it is, sadly, not changeable in a cross-browser way
      -->
    <input type="date" id="searchPeriodStart" name="searchPeriodStart"
           pattern="\d{4}-\d{2}-\d{2}"
           placeholder="yyyy-mm-dd"
           class="form-control"
           [(ngModel)]="searchPeriodStart"
           (ngModelChange)="searchChanged()"
    >
  </div>
  <div class="ms-1">
    <label for="searchPeriodEnd" class="col-form-label">
      Search Period End
    </label>
    <!-- pattern and placeholder are fallbacks for browser, that use a simple text input for type="date"
         The date format of the plain HTML date input, in browser that support it is, sadly, not changeable in a cross-browser way
      -->
    <input type="date" id="searchPeriodEnd" name="searchPeriodEnd"
           pattern="\d{4}-\d{2}-\d{2}"
           placeholder="yyyy-mm-dd"
           class="form-control"
           [(ngModel)]="searchPeriodEnd"
           (ngModelChange)="searchChanged()"
    >
  </div>
  <!-- empty column for actions -->
<!--  <div class="col"></div>-->
</form>

<div class="mt-3">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th class="min-width">Standings</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tournament of tournaments" class="center-td">
      <td>{{ tournament.name }}</td>
      <td>{{ tournament.startDate.toLocaleDateString() }}</td>
      <td>{{ tournament.endDate.toLocaleDateString() }}</td>
      <td>
        <div class="d-flex justify-content-center">
          <button class="btn btn-sm responsive-info-button"
                  [routerLink]="[ tournament.id, 'standings']"
                  aria-label="Show tournament standings">
            <i class="bi bi-info-lg"></i>
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
